<a href="https://colab.research.google.com/github/Babaralihyd/Assignment-04_python-/blob/main/assignments4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.Tasks:
# 1. Create and Modify Lists
# o Create a list called fruits with the items: "apple", "banana", "orange"
# o Add "grape" to the end of the list using an appropriate method
# o Insert "mango" at position 2 in the list
# o Remove "banana" from the list
# o Print the final list

fruits = ["apple", "banana", "organge"]
fruits.append("grape")
fruits.insert(2, "mango")
fruits.remove("banana")
print(fruits)

['apple', 'mango', 'organge', 'grape']

In [ ]:
# 2. List Operations
# o Create a list numbers with values: 10, 20, 30, 40, 50
# o Create a second list more_numbers with values: 60, 70, 80
# o Combine both lists into a new list called all_numbers
# o Make a copy of all_numbers called numbers_copy
# o Reverse the order of numbers_copy
# o Print both all_numbers and numbers_copy

list = [ 10, 20, 30, 40, 50]
list2 = [60, 70, 80]
all_numbers = list + list2
numbers_copy =all_numbers.copy()
numbers_copy.reverse()
print(all_numbers)
print(numbers_copy)

[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# 3. Sorting and Counting
# o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74
# o Sort the list in ascending order
# o Sort the list in descending order
# o Count how many times 92 appears in the list
# o Find and print the highest and lowest scores
# o Print the sorted list

scores = [85, 92, 78, 65, 92, 85, 74]
ascending_order = sorted(scores)
descending_order = sorted(scores, reverse=True)
count = scores.count(92)
highest_score = max(scores)
lowest_score = min(scores)
print("Original scores:", scores)
print("Sorted (ascending):", ascending_order)
print("Sorted (descending):", descending_order)
print("Number of times 92 appears:", count)
print("Highest score:", highest_score)
print("Lowest score:", lowest_score)

Original scores: [85, 92, 78, 65, 92, 85, 74]
Sorted (ascending): [65, 74, 78, 85, 85, 92, 92]
Sorted (descending): [92, 92, 85, 85, 78, 74, 65]
Number of times 92 appears: 2
Highest score: 92
Lowest score: 65

In [ ]:
# 4. List Manipulation
# o Create a list letters with values: "a", "b", "c", "d", "e"
# o Use slicing to create a new list with only the first three letters
# o Use slicing to create another list with only the last two letters
# o Find and print the index of "c" in the list
# o Replace "d" with "z" in the original list
# o Print the modified list



letters = ["a", "b", "c", "d", "e" ]
new_list = letters[:3]
new_list2 = letters[-2:]
index = letters.index("c")
letters[3]= "z"
print(new_list)
print(new_list2)
print(index)
print(letters)

['a', 'b', 'c']
['d', 'e']
2
['a', 'b', 'c', 'z', 'e']

In [ ]:
#Dictionary Methods Practice
#2.Tasks:
# o Create a dictionary called student with these key-value pairs:
#  "name": "John"
#  "age": 20
#  "grade": "A"
#  "courses": ["Math", "Science", "History"]
# o Print the student's name
# o Print the list of courses
# o Add a new key-value pair: "email": "john@example.com"
# o Print the entire dictionary

student = {
    "name": "John",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}


print( student["name"])

print( student["courses"])

student["email"] = "john@example.com"

print(" Dictionary:", student)

John
['Math', 'Science', 'History']
 Dictionary: {'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

In [ ]:
# 2. Modify Dictionary Values
# o Change the student's age to 21
# o Add a new course "Computer Science" to the courses list
# o Update the grade to "A+"
# o Print the modified dictionary


student = {
    "name": "imran",
    "age": 18,
    "grade": "A",
    "courses": ["biology", "physics", "chemistry"]
}

student["age"] = 21
student["courses"].append("computer science")
student["grade"] = "A+"
print(student)

{'name': 'imran', 'age': 21, 'grade': 'A+', 'courses': ['biology', 'physics', 'chemistry', 'computer science']}

In [ ]:
# 3. Dictionary Operations
# o Create a second dictionary student_address with these key-value pairs:
#  "street": "123 College Ave"
#  "city": "New York"
#  "zip": "10001"
# o Combine both dictionaries into a new dictionary called student_info
# o Remove the "zip" key from student_info
# o Check if "phone" exists in the dictionary
# o Print the final dictionary
student_details = {
    "name": "Naveed",
    "age": 25,
    "grade": "A+",
    "group": "Pre_Medical"
}


student_address = {
    "street": "123 college Ave",
    "city": "new york",
    "zip": "10001",
}


student_info = {**student_details, **student_address}

student_info.pop("zip",None )
phone_update = "phone"in student_info
print(student_info)
print("phone Exists" , phone_update)

{'name': 'Naveed', 'age': 25, 'grade': 'A+', 'group': 'Pre_Medical', 'street': '123 college Ave', 'city': 'new york'}
phone Exists False

In [15]:
# 4. Dictionary Methods
# o Create a dictionary word_count with these key-value pairs:
#  "hello": 5
#  "world": 10
#  "python": 15
# o Get all keys and print them as a list
# o Get all values and print them as a list
# o Get all key-value pairs and print them
# o Make a copy of the dictionary
# o Clear the original dictionary
# o Print both dictionaries to verify one is empty and one is a copy


word_count = {
    "hello":5 ,
    "world":10,
    "python": 15

}


keys = list(word_count.keys())
print(keys)
values = list(word_count.values())
print(values)
iterms = list(word_count.items())
print(iterms)
copy = word_count.copy()
print(copy)
clear = word_count.clear()
print(clear)
print(word_count)

['hello', 'world', 'python']
[5, 10, 15]
[('hello', 5), ('world', 10), ('python', 15)]
{'hello': 5, 'world': 10, 'python': 15}
None
{}

In [ ]:
# Shopping Discount Calculator
#Tasks 3
# 1. Set up the initial variables:
# o purchase_amount: The total cost of items in the shopping cart
# o is_loyalty_member: Boolean (True/False) indicating if the customer is a
# loyalty member
# o day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)
# o is_holiday_season: Boolean indicating if it's currently a holiday shopping
# season


purchase_amount = 153
is_loyalty_member = True
day_of_week = "Saturday"
is_holiday_season = False

In [ ]:
# o If purchase amount is greater than $100, apply a 10% discount
# o If purchase amount is greater than $50 (but less than or equal to $100),
# apply a 5% discount
# o If the customer is a loyalty member, apply an additional 5% discount
# o If it's a weekend (Saturday or Sunday), apply an additional 2% discount
# o If it's a holiday season, apply an additional 8% discount
discount = 0


if purchase_amount > 100:
    discount += 10
elif purchase_amount > 50 and purchase_amount <= 100:
    discount += 5


if is_loyalty_member:
    discount += 5


if day_of_week in ["Saturday", "Sunday"]:
    discount += 2

if is_holiday_season:
    discount += 8


final_price = purchase_amount * (1 - discount / 100)

In [ ]:
# 3. Calculate and display:
# o The original purchase amount
# o Each discount that was applied and its amount
# o The final price after all discounts
print(f"Original purchase amount: ${purchase_amount:.2f}")
print(f"Total discount applied: {discount}%")
print(f"Final price after discount: ${final_price:.2f}")

Original purchase amount: $153.00
Total discount applied: 17%
Final price after discount: $126.99

In [ ]:
# Assignment Overview:
# In this assignment, you will create number patterns using for loops in Python.
# Instructions:
# Write a Python program that generates the following patterns using for loops:

# 1. Pattern 1: Counting Numbers
# o Print numbers from 1 to 10 on a single line.
#  2.  Pattern 2: Multiplication Table
#  Create a multiplication table for the number 5 (from 1 to 10).


for counting_number in range(1,11):
    print(counting_number, end= ""),
    print()


print(".........multiplication table 5..............")

for multip in range(1,11):
  print(f"5 X {multip} = {5 * multip} ")

1
2
3
4
5
6
7
8
9
10
.........multiplication table 5..............
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
# While Loop Assignment - Interactive Game
# Assignment Overview:
# Create a simple number guessing game using a while loop.
# Instructions:
# Write a Python program that:
# 1. Sets a "secret number" (you can choose any number between 1 and 50)
# 2. Asks the player to guess the number
# 3. Tells the player if their guess is too high or too low
# 4. Keeps asking until the player guesses correctly
# 5. Keeps track of how many guesses it took

secret_num = 27
guess = None
guess_count = 0

while guess != secret_num:
    try:
        guess = int(input("Guess a number between 1 and 50: "))
        guess_count += 1

        if guess < secret_num:
            print("Too low. Try again.")
        elif guess > secret_num:
            print("Too high. Try again.")
        else:
            print(f"Congratulations! You guessed the number in {guess_count} tries.")
    except ValueError:
        print("Invalid input. Please enter a valid number.")

Guess a number between 1 and 50: 27
Congratulations! You guessed the number in 1 tries.

In [20]:
# Student Grade Management System
#Requirements:
# Create a Python program that does the following:


# 1. Create a list to store information about students

# 2. Each student should be represented as a dictionary with the following keys:
# o name: The student's full name
# o id: A unique student ID number
# o grades: Another dictionary containing course names as keys and grades as values




students = [
    {
        "name": "Imran",
        "id": "1002",
        "grades": {
            "Physics": 78,
            "Chemistry": 87,
            "Biology": 74
        }
    },
    {
        "name": "Aamir",
        "id": "1003",
        "grades": {
            "Physics": 54,
            "Chemistry": 94,
            "Biology": 95
        }
    },
    {
        "name": "Bilal",
        "id": "1005",
        "grades": {
            "Physics": 68,
            "Chemistry": 47,
            "Biology": 56
        }
    }
]

In [21]:

# Display all students with their grades

for student in students:
    print(f"Student's Name: {student['name']} Student's ID: {student['id']} Student's Grades: {student['grades']}")

Student's Name: Imran Student's ID: 1002 Student's Grades: {'Physics': 78, 'Chemistry': 87, 'Biology': 74}
Student's Name: Aamir Student's ID: 1003 Student's Grades: {'Physics': 54, 'Chemistry': 94, 'Biology': 95}
Student's Name: Bilal Student's ID: 1005 Student's Grades: {'Physics': 68, 'Chemistry': 47, 'Biology': 56}

In [22]:
#  Calculate and display the average grade for each student
for student in students:
    grades = student["grades"].values()
    average_grade = sum(grades) / len(grades)
    print(f"{student['name']} - Average Grade: {round(average_grade, 2)}")

Imran - Average Grade: 79.67
Aamir - Average Grade: 81.0
Bilal - Average Grade: 57.0

In [23]:
# Find and display the student with the highest average grade
top_student = None
highest_avg = 0

for student in students:
    grades = student["grades"].values()
    avg = sum(grades) / len(grades)
    if avg > highest_avg:
        highest_avg = avg
        top_student = student

# Print the result outside the loop
if top_student:
    print(f"Top student: {top_student['name']} with Average Grade: {round(highest_avg, 2)}")

Top student: Aamir with Average Grade: 81.0

In [24]:
# List all students with an average grade above 80

for student in students:
    grades = student["grades"].values()
    avg = sum(grades)/ len(grades)
    if avg > 80:
         print(f"{student['name']} - Average : {round(avg,2 )}")

Aamir - Average : 81.0

In [25]:
# Calculate and display the average grade for a specific course


course_name = "Biology"
total = 0
count = 0

for student in students:
    if course_name in student["grades"]:
        total += student["grades"][course_name]
        count += 1

if count > 0:
    course_average = total / count
    print(f"Average grade for {course_name}: {round(course_average, 2)}")
else:
    print(f"No data found for course: {course_name}")

Average grade for Biology: 75.0

In [37]:
# o Add a new student to the system



# New student to be added
new_student = {
    "name": "Waqar",
    "id": 1006,
    "grades": {
        "Physics": 98,
        "Chemistry": 97,
        "Biology": 96
    }
}

# Add the new student to the list
students.append(new_student)

# Print all students
for s in students:
    print(f"Student Name: {s['name']},  Student ID: {s['id']},  Student Grades: {s['grades']}")

Student Name: Ali,  Student ID: 1001,  Student Grades: {'Physics': 85, 'Chemistry': 90, 'Biology': 88}
Student Name: Waqar,  Student ID: 1006,  Student Grades: {'Physics': 98, 'Chemistry': 97, 'Biology': 96}
Student Name: Waqar,  Student ID: 1006,  Student Grades: {'Physics': 98, 'Chemistry': 97, 'Biology': 96}